/*
!/bin
!/.bootstrap

!/.vim
/.vim/autoload/plug.vim.old
/.vim/bundle
/.vim/tmp

!/.config
/.config/*
!/.config/alacritty
!/.config/dunst
!/.config/fontconfig
!/.config/git
!/.config/htop
!/.config/jj
/.config/jj/repos
!/.config/nix
!/.config/nvim
!/.config/ripgrep
!/.config/tmux
!/.config/wireplumber
!/.config/xmonad
