[user]
    name = Doug Patti
    email = douglas.patti@gmail.com

[alias]
    co = checkout
    ci = commit
    st = status -sb
    br = branch
    hist = log --oneline --decorate --graph --topo-order -n 20
    type = cat-file -t
    dump = cat-file -p
    committed = diff-tree --name-status -r
[apply]
    whitespace = fix
[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
    editor = gvim
    filemode = false
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta
    old = red
    new = green
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[merge]
    tool = gvimdiff
