# Repeat rate: 200ms delay, 40 repeats/s
xset r rate 200 40

# Set left-win as the compose key
setxkbmap -option compose:lwin

# Map caps lock to escape
setxkbmap -option caps:escape

# Palms
synclient AreaLeftEdge=156 AreaRightEdge=1247 AreaTopEdge=134 AreaBottomEdge=503
