*.faceName: Hack:style=Regular:size=10

XTerm*SaveLines: 20000
XTerm*Translations: #override \
  Shift Ctrl <Key>C: copy-selection(CLIPBOARD)\n \
  Shift Ctrl <Key>V: insert-selection(CLIPBOARD)\n
XTerm*highlightColorMode: true
XTerm*scrollTtyOutput: false
